{{! template-lint-disable no-invalid-interactive }}
<div {{on "click" this.onClick}}>
  {{! template-lint-enable no-invalid-interactive }}

  {{#if this.foo}}
    {{! template-lint-disable no-invalid-interactive }}
    <div {{on "click" this.onClick}}>
      {{! template-lint-enable no-invalid-interactive }}
    </div>
  {{/if}}
</div>